<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>模型预览</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="js/threejs/three.js"></script>
    <script src="js/threejs/threebsp.js"></script>
    <script src="js/threejs/orbitControls.js"></script>
    <script src="js/threejs/OBJLoader.js"></script>
    <script src="js/threejs/MTLLoader.js"></script>

    <script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/2-0-4/esl.js"></script>
    

    <script>
        var main;
        require(["js/dgis3d"], function (dgis3d) {
            main = dgis3d;

            $("#stage").attr({ "width": $(window).width() + "px", "height": $(window).height() + "px" });

            //场景
            dgis3d.init("stage",910, 660, 100);
            var path = "../assets/images/netroom/";
            var format = ".png";

            //场景背景
            //右左上下前后
            var urls = [
                path + '2' + format, path + '4' + format,
                path + '1' + format, path + '6' + format,
                path + '5' + format, path + '3' + format
            ];

            var reflectionCube = new THREE.CubeTextureLoader().load(urls);
            reflectionCube.format = THREE.RGBFormat;
            dgis3d.scene.background = reflectionCube;

            //控制器
            var orbitControls = new THREE.OrbitControls(dgis3d.camera, dgis3d.renderer.domElement);
            orbitControls.target = new THREE.Vector3(0, 0, 0);//控制焦点
            orbitControls.autoRotate = false;//将自动旋转关闭
            var clock = new THREE.Clock();//用于更新轨道控制器

            //视角固定        
            dgis3d.view(1);
            orbitControls.update();

            //加载数据
            $.get("data.json", function (datas) {
                for (var i = 0; i < datas.length; i++) {
                    buildModel(datas[i]);
                }
            });


            /**
            * 创建模型
            * @param {*} data
            */
            function buildModel(data) {
                //创建结构
                var geometry;
                switch (data.geometry.type) {
                    case "box":
                        geometry = dgis3d.geometry.box(data.geometry.l, data.geometry.w, data.geometry.h);
                        break;
                    case "cylinder":
                        geometry = dgis3d.geometry.cylinder(data.geometry.r, data.geometry.h);
                        break;
                    case "obj":
                        dgis3d.geometry.model(data.geometry.l, data.geometry.w, data.geometry.h, data.material.path + ".mtl", data.material.path + ".obj", data.angle, data.position, function (obj) {
                            obj.name = data.name;
                            dgis3d.scene.add(obj);
                            dgis3d.render();
                        });
                        return;
                        break;
                }

                //创建纹理
                var material;
                switch (data.material.type) {
                    case "img":
                        material = dgis3d.material.bitmapMaterial(data.material.path, data.material.opacity, data.material.repeat[0], data.material.repeat[1]);
                        break;
                    case "color":
                        material = dgis3d.material.colorMaterial(data.material.color, data.material.opacity, data.material.reflect);
                        break;
                }

                if (geometry != null) {
                    //创建模型
                    var mesh = new THREE.Mesh(geometry, material);

                    //旋转模型
                    mesh.rotation.set(data.angle.x, data.angle.y, data.angle.z);

                    //计算相对位置
                    var pt = dgis3d.geometry.getPosition(data.position, data.geometry.l, data.geometry.w, data.geometry.h);
                    mesh.position.set(pt.x, pt.y, pt.z);
                    mesh.name = data.name;

                    dgis3d.scene.add(mesh);
                    dgis3d.render();
                }
            };
        });


    </script>

</head>

<body>
    <canvas id="stage"></canvas>
</body>

</html>