<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>材质属性</title>

    <script src="../../assets/js/jquery-1.10.2.min.js"></script>
    <script src="../../assets/js/jquery.form.min.js"></script>
    <script src="../../assets/plugins/dgisUploader/digsUploader.js"></script>
    <script src="../../assets/js/vue.min.js"></script>
    <script src="../../assets/js/esl.js"></script>

    <link href="../../assets/css/modelProperty.css" rel="stylesheet" type="text/css" />

    <script>
        var main;
        require(["/assets/modules/modeling/material"], function (material) {
            main = material;
        });
    </script>

</head>

<body>
<ul>
    <li>
        <div class="fieldTitle">
            材质属性
        </div>
    </li>
    <li>
        <div class="fieldName">类型：</div>
        <div class="fieldValue">
            <input type="radio" name="color" value="color" id="colorType" v-model="Data.material.type"
                   v-on:click="changeType(true)"
            />
            <label for="colorType">纯色</label>
            <input type="radio" name="img" value="img" id="imgType" v-model="Data.material.type"
                   v-on:click="changeType(false)"/>
            <label for="imgType">图片</label>
        </div>
    </li>
    <li class="color">
        <div class="fieldName">颜色：</div>
        <div class="fieldValue">
            <input type="color" name="color" v-model="Data.material.color" v-on:change="changeValue"/>
        </div>
    </li>
    <li class="img">
        <div class="fieldName">图片：</div>
        <div class="fieldValue">
            <input type="text" id="path" name="path" v-model="Data.material.path" v-on:change="changeValue"
                   style="width:calc(100% - 58px)"/>
            <input type="button" id="uploadBtn" value="上传"/>
        </div>
    </li>
    <li class="img">
        <div class="fieldName">重复：</div>
        <div class="fieldValue">
            <input v-for="(repeat,i) in Data.material.repeat" type="text" name="" v-model="Data.material.repeat[i]" v-on:change="changeValue" style="width: 30px;margin-right: 10px;"/>
        </div>
    </li>
    <li>
        <div class="fieldName">透明度：</div>
        <div class="fieldValue">
            <input type="text" name="h" v-model="Data.material.opacity" v-on:change="changeValue"/>
        </div>
    </li>
    <li>
        <div class="fieldName">是否反光：</div>
        <div class="fieldValue">
            <input type="radio" name="reflect" value="true" id="reflectType" v-model="Data.material.reflect"/>
            <label for="reflectType">反光</label>
            <input type="radio" name="reflect" value="false" id="noReflectType" v-model="Data.material.reflect"/>
            <label for="noReflectType">不反光</label>
        </div>
    </li>

</ul>
</body>

</html>